---
import "@/globals.css";
import { Image } from "astro:assets";
import { db, Sponsors } from "astro:db";
import { ModeToggle } from "@/components/ModeToggle";
import VektorLogo from "@images/vektor-logo.svg";
import VektorLogoWhite from "@images/vektor-logo-white.svg";
import { Facebook, FolderOpen, Mail, MapPin } from "lucide-react";

interface Route {
	path: string;
	name: string;
}
const routes: Route[] = [
	{ path: "", name: "Hjem" },
	{ path: "/assistenter", name: "Assistenter" },
	{ path: "/staging", name: "Staging" },
	{ path: "/foreldre", name: "Foreldre" },
	{ path: "/skoler", name: "Skoler" },
	{ path: "/kontakt", name: "Kontakt" },
	{ path: "/om-oss", name: "Om oss" },
	{ path: "/team", name: "Team" },
	{ path: "/mineUtlegg", name: "Utlegg" },
];

const sponsors = await db.select().from(Sponsors);
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<body class="flex flex-col pt-4 min-h-screen">
  <header class="flex justify-center items-center gap-8">
    <nav class="flex justify-center items-center gap-8">
      <a href="/">
        <Image
          class="h-16 lg:h-20"
          src={VektorLogo}
          width={200}
          height={200}
          alt="Vektorprogrammet logo"
        />
      </a>
      {routes.map((route) => (
        <a
          href={route.path}
          class="hover:underline"
        >
          {route.name}
        </a>
      ))}
    </nav>
    <ModeToggle client:load />
  </header>

  <slot />

  <footer class="flex flex-row justify-center p-10 gap-4 w-screen mx-auto bg-blue-900 text-white">
    <Image
        class="h-24 md:h-40"
        src={VektorLogoWhite}
        width={400}
        height={400}
        alt="vektorprogrammet logo hvit"
    />
    <!-- Footer links -->
    <ul class="flex flex-col gap-4">
      <li class="flex flex-row gap-2">
        <Facebook />
        <a
          class="hover:underline"
          href="https://www.facebook.com/vektorprogrammet/"
        >
          Trondheim
        </a>
        <a
          class="hover:underline"
          href="https://www.facebook.com/vektorprogrammetNMBU/"
        >
          Ås
        </a>
        <a
          class="hover:underline"
          href="https://www.facebook.com/VektorprogrammetBergen/"
        >
          Bergen
        </a>
      </li>
      <li class="flex flex-row gap-2">
        <Mail />
        <a
          class="hover:underline"
          href="mailto:hovedstyret@vektorprogrammet.no"
        >
          hovedstyret@vektorprogrammet.no
        </a>
      </li>
      <li class="flex flex-row gap-2">
        <MapPin />
        <span>Høgskoleringen 5, 7491 Trondheim</span>
      </li>
      <li class="flex flex-row gap-2">
        <FolderOpen />
        <span>OrgNr: 998744814</span>
      </li>
    </ul>
    <!-- Sponsors -->
    <ul>
      <li><b>Sponsorer og sammarbeidspartnere</b></li>
      {sponsors.map((sponsor) => (
        <li>
          <a class="text-sm hover:underline" href={sponsor.url}>
            {sponsor.name}
          </a>
        </li>
      ))}
    </ul>
  </footer>
</body>